Transition/Transition/Transition.Android/obj/
Transition/Transition/Transition/obj/
Transition/Transition/Transition.iOS/obj/
Transition/Transition/Transition.iOS/bin/
Transition/Transition/Transition.Android/bin/
Transition/Transition/Transition/bin/
